# IDE va tahrirlagich papkalari
.vscode/
.idea/

# Virtual muhit va konfiguratsiya fayllari
venv/
.env
.venv/
.env.local

# Ma'lumotlar bazasi fayli
db.sqlite3

# Django migratsiyalari (har qanday papkadagi migrations)
**/migrations/
